body, html {
    height: 100%;
    width: 100%;
    margin: 0;
    overflow: auto;
}

h1 {
    font-family: sans-serif;
}

#wrapper {
    height: 100%;
    box-sizing: border-box;
    border: solid 10px transparent;
    display: flex;
    flex-direction: column;
}

#container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    /*align-items: stretch;*/
}

#left, #right {
    display: flex;
    flex-direction: column;
}

#divider {
    display: flex;
    flex-direction: column;
    width: 5px;
    cursor: col-resize;
}

#left {
    width: 66%;
}

#right {
    width: 33%;
}

.header {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: solid 1px lightgray;
    margin-top: 5px;
}

#editor, #console, #output {
    flex-grow: 1;
}

#console {
    overflow: hidden;
}

#title {
    font-size: 32px;
    font-family: sans-serif;
    margin-bottom: 6px;
}

.ace_comment {
    /*color: whitesmoke !important;*/
}

.ace_fold {
    background-color: #FF00FF !important;
}

.ace_scrollbar {
    display: none !important;
}
