body, html {
    height: 100%;
    margin: 0;
    overflow: hidden;
}

h1 {
    font-family: sans-serif;
}

#wrapper {
    height: 100%;
    box-sizing: border-box;
    border: solid 10px transparent;
    display: flex;
    flex-direction: column;
}

#container {
    flex-grow: 1;
    display: flex;
    flex-direction: row;
    /*align-items: stretch;*/
}

#left, #right {
    width:100%;
    display: flex;
    flex-direction: column;
    margin-left: 2px;
    margin-right: 2px;
}

.header {
    flex-shrink: 0;
}

.content {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    border: solid 1px lightgray;
    margin-top: 5px;
}

#editor, #console, #output {
    flex-grow: 1;
}

#title {
    font-size: 32px;
    font-family: sans-serif;
    margin-bottom: 6px;
}
